{
    "config_root": "/Users/mikhail/Coding/nutouch/extension/host/keys/bob/config_root",
    "federated_only": true,
    "checksum_public_address": "0xa8B421e451c5A41ccAd384A72cA6151ff4776906",
    "keyring_dir": "/Users/mikhail/Coding/nutouch/extension/host/keys/bob/config_root/keyring",
    "domains": [
        "GLOBAL_DOMAIN"
    ],
    "learn_on_same_thread": true,
    "abort_on_learning_error": false,
    "start_learning_now": true,
    "save_metadata": true,
    "node_storage": {
        "storage_type": "local",
        "storage_root": "/Users/mikhail/Coding/nutouch/extension/host/keys/bob/config_root/known_nodes",
        "metadata_dir": "/Users/mikhail/Coding/nutouch/extension/host/keys/bob/config_root/known_nodes/metadata",
        "certificates_dir": "/Users/mikhail/Coding/nutouch/extension/host/keys/bob/config_root/known_nodes/certificates"
    }
}