{
    "config_root": "/Users/mikhail/Coding/snowden/host/keys/bob/config_root",
    "federated_only": true,
    "checksum_public_address": "0x2f8fCe52c24f54cB94C8adf02E04d9bfBa51f21E",
    "keyring_dir": "/Users/mikhail/Coding/snowden/host/keys/bob/config_root/keyring",
    "domains": [
        "b'GLOBAL_DOMAIN'"
    ],
    "provider_uri": "tester://pyevm",
    "learn_on_same_thread": true,
    "abort_on_learning_error": false,
    "start_learning_now": true,
    "save_metadata": true,
    "node_storage": {
        "storage_type": "local",
        "storage_root": "/Users/mikhail/Coding/snowden/host/keys/bob/config_root/known_nodes",
        "metadata_dir": "/Users/mikhail/Coding/snowden/host/keys/bob/config_root/known_nodes/metadata",
        "certificates_dir": "/Users/mikhail/Coding/snowden/host/keys/bob/config_root/known_nodes/certificates"
    }
}